/*style.css*/
.body_login {
   display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    line-height: 1.5;
    min-height: 100vh;
    background: white;
    flex-direction: column;
    margin: 0;
}

.main {
    margin-top: 30px;
    background-color: #F2F2F2;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 35px 40px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}
a {
	color: #041970;
}
h1{

    font-family: monospace;
    font-size: 50px;
}

.h1_quiz{

    font-family: monospace;
    font-size: 25px;
}


input {
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.button_login{
       	background-color: white;
       	border-color: black;
       	color: black;
       	height: 35px;
       	width: 100px;
       	border-radius: 15px;
       	cursor: pointer;
       	border-style: solid;
       	transition: background-color .5s, color .5s, opacity 0.5s;
        
       }



.button_login:hover{
       	opacity: 0.9;
       	background-color: black;
       	color: white;
              border-color: black;
       

       }

ul {
  list-style-type: none; /* Removes the bullet points */
  display: flex;
  margin: 0;             /* Resets default browser margins */
  padding: 0;            /* Resets default browser paddings */
  overflow: hidden;      /* Contains floated elements */
  background-color: #333; /* Adds a background color */
  border-radius: 18px;
}

li:nth-child(2) {
    margin-left: auto; 
}

li a {
  display: block;      /* Makes the whole link area clickable */
  color: white;        /* Text color */
  text-align: center;  /* Centers the text */
  padding: 14px 36px;  /* Adds spacing around the text */
  text-decoration: none; /* Removes underlines from links */
}

li a:hover {
  background-color: #111; /* Changes background color when hovered */
}

.link_create_account{

	display: inline-block;
	margin-top: 25px;
	text-decoration: none;
	color: #041970;
}

/* Contenedor para que no ocupen toda la pantalla */
.options-container {
    display: flex;
    align-items: center;
    
    width: 100px;                   
               
    cursor: pointer;
}

.ul_quiz {
  list-style: none; /* Removes the bullet points */
  display: flex;
  margin: 0;             /* Resets default browser margins */
  padding: 0;            /* Resets default browser paddings */
  overflow: hidden;      /* Contains floated elements */
  background-color: #F2F2F2; /* Adds a background color */
  border-radius: 18px;
}


