/*style.css*/
.body_login {
   display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    line-height: 1.5;
    min-height: 00vh;
    background: white;
    flex-direction: column;
    margin: 0;
}

.main {
    margin-top: 30px;
    background-color: #F2F2F2;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 35px 40px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}
a {
	color: #041970;
}
h1{

    font-family: monospace;
    font-size: 50px;
}

.h1_quiz{
    margin-top: 59px;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
}


input {
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.button_login{
       	background-color: white;
       	border-color: black;
       	color: black;
       	height: 35px;
       	width: 100px;
       	border-radius: 15px;
       	cursor: pointer;
       	border-style: solid;
       	transition: background-color .5s, color .5s, opacity 0.5s;
        margin-top: 10px;
       }



.button_login:hover{
       	opacity: 0.9;
       	background-color: black;
       	color: white;
              border-color: black;
       

       }

ul {
  list-style-type: none; /* Removes the bullet points */
  display: flex;
  margin: 0;             /* Resets default browser margins */
  padding: 0;            /* Resets default browser paddings */
  overflow: hidden;      /* Contains floated elements */
  background-color: #333; /* Adds a background color */
  border-radius: 18px;
}

li:nth-child(2) {
    margin-left: auto; 
}

li a {
  display: block;      /* Makes the whole link area clickable */
  color: white;        /* Text color */
  text-align: center;  /* Centers the text */
  padding: 14px 36px;  /* Adds spacing around the text */
  text-decoration: none; /* Removes underlines from links */
}

li a:hover {
  background-color: #111; /* Changes background color when hovered */
}

.link_create_account{

	display: inline-block;
	margin-top: 25px;
	text-decoration: none;
	color: #041970;
}

/* Contenedor para que no ocupen toda la pantalla */
.options-container {
    display: flex;
    align-items: center;
    
    width: 100px;                   
               
    cursor: pointer;
}

.ul_quiz {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  
  margin: 0;
  padding: 20px; /* Añadimos un poco de padding para que no toquen el borde */
  background-color: #F2F2F2; 
  border-radius: 18px;
  gap: 15px; /* Espacio vertical entre las opciones */
}

.ul_quiz li {
  display: flex;
  align-items: center; 
  gap: 10px; 
  width: 100%;
}

.ul_quiz input[type="radio"] {
  cursor: pointer;
  margin: 0; 
}

.ul_quiz label {
  cursor: pointer;
  font-family: sans-serif; 

}

.p_quiz{
font-size: 16px;

}

label {
    font-size: 16px;
   
}

select#tiempo {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 200px;
}

.label_quizi{
    display: block;
    align-items: center;
    margin-bottom: 20px;

}

.input_purpose {
  field-sizing: content; 
  display: block;
  width: 100%;           
  min-height: 100px;     
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px;        
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;     
}
.image_first{
display: block;      
    margin: 0 auto;       
    max-width: 100%;      
    height: auto;         
    padding: 35px;       
    box-sizing: border-box; 
    border-radius: 100px;
}

.image-banner-beggin{
   background-image: url('/home/planton/Project/Images/girl_index.png');
   background-size: cover;
   background-position: center;
   height: 320px;
   display: flex;
   flex-direction: column;       
   color: black;                
    margin-top: 70px;
    border-radius: 75px;
    
   align-items: flex-end;
   }

.h1-banner{

     font-family: monospace;
    font-size: calc(0.9rem + 1vw);
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 20px;
     margin-top: 49px;
    margin-bottom: 29px;
}

.p1-banner{
    padding-right: 50px;
    font-size: calc(0.5rem + 1vw);

}

.button_banner_first{
        background-color: white;
        border-color: white;
        color: black;
        height: 35px;
        width: 100px;
        border-radius: 15px;
        cursor: pointer;
        border-style: solid;
        transition: background-color .5s, color .5s, opacity 0.5s;
        margin-top: 10px;
        margin-right: 80px;
       }
       .button_banner_first:hover{
        opacity: 0.9;
        background-color: black;
        color: white;
              border-color: black;
       

       }

       .button_banner_second{
        background-color: white;
        border-color: white;
        color: black;
        height: 35px;
        width: 100px;
        border-radius: 15px;
        cursor: pointer;
        border-style: solid;
        transition: background-color .5s, color .5s, opacity 0.5s;
        margin-top: 10px;
        margin-right: 30px;

      
       }
       .button_banner_second:hover{
        opacity: 0.9;
        background-color: black;
        color: white;
              border-color: black;
       

       }



.alinacion{
   align-items: baseline;

}

.header-banner{
width: 15%;
margin: 0 auto;

}

.p-index{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 50px;
  font-size: 19px;
  font-family: sans-serif;
  color: white;
}

.block-black{
background: linear-gradient(
        145deg, 
        #121111 0%, 
        #211313 20%, 
        #333 40%, 
        #333 60%, 
        #211313 80%, 
        #121111 100%
    );
    border: 1px solid #aaa; 
    box-shadow: inset 0 0 15px rgba(255,255,255,0.5), 0 5px 15px rgba(0,0,0,0.3);
 padding: 15px;
 padding-right: 0pxs;
 border-radius: 100px;
 width: 50%;           
    max-width: 1000px;    
    margin: 0 auto;
}

.multiple-blocks{
display: flex;
align-items: baseline;

}


.multiple-blocks-black{
background: linear-gradient(
        145deg, 
        #121111 0%, 
        #211313 20%, 
        #333 40%, 
        #333 60%, 
        #211313 80%, 
        #121111 100%
    );
    border: 1px solid #aaa; 
    box-shadow: inset 0 0 15px rgba(255,255,255,0.5), 0 5px 15px rgba(0,0,0,0.3);
 padding: 15px;
 padding-right: 0pxs;
 border-radius: 100px;
 width: 50%;           
    max-width: 1000px;    
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    padding-bottom:15px;
}
.multiple-blocks-black-2{
background: linear-gradient(
        145deg, 
        #121111 0%, 
        #211313 20%, 
        #333 40%, 
        #333 60%, 
        #211313 80%, 
        #121111 100%
    );
    border: 1px solid #aaa; 
    box-shadow: inset 0 0 15px rgba(255,255,255,0.5), 0 5px 15px rgba(0,0,0,0.3);
 padding: 15px;
 padding-right: 0pxs;
 border-radius: 100px;
 width: 50%;           
    max-width: 1000px;    
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    padding-bottom: 15px;
}


.h1-block-title{
 color: whitesmoke;
 display: flex;
justify-content: center;
font-size: 35px;

}

.p-block-text{
 color:white;
 display: flex;
 margin-right: 50px;
 margin-left: 50px;
}

.p-align-button{
    background-color: white;
        border-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        border-radius: 15px;
        cursor: pointer;
        border-style: solid;
        transition: background-color .5s, color .5s, opacity 0.5s;
        margin: 0 auto;
        margin-top: 10px;
       }



.p-align-button:hover{
        opacity: 0.9;
        background-color: #051080;
        color: white;
              border-color: #051080;
       

       }
.p-align-button-1{
    background-color: white;
        border-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        border-radius: 15px;
        cursor: pointer;
        border-style: solid;
        transition: background-color .5s, color .5s, opacity 0.5s;
        margin: 0 auto;
        margin-top: 55px;
       }



.p-align-button-1:hover{
        opacity: 0.9;
        background-color: #051080;
        color: white;
              border-color: #051080;
       

       }

       .p-align-button-2{
    background-color: white;
        border-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        border-radius: 15px;
        cursor: pointer;
        border-style: solid;
        transition: background-color .5s, color .5s, opacity 0.5s;
        margin: 0 auto;
        margin-top: 109px;
       }

.p-align-button-2:hover{
        opacity: 0.9;
        background-color: blue;
        color: white;
              border-color: blue;
       

       }

.multiple-blocks-black-3{
background: linear-gradient(
        145deg, 
        #121111 0%, 
        #211313 20%, 
        #333 40%, 
        #333 60%, 
        #211313 80%, 
        #121111 100%
    );
    border: 1px solid #aaa; 
    box-shadow: inset 0 0 15px rgba(255,255,255,0.5), 0 5px 15px rgba(0,0,0,0.3);
 padding: 15px;
 padding-right: 0pxs;
 border-radius: 100px;
 width: 50%;           
    max-width: 1000px;    
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
}

.image-banner-beggin-mision{
   background-image: url('/home/planton/Project/Images/mision.png');
   background-size: cover;
   background-position: center;
   margin: 0 auto;
   height: 340px;
   width: 70%;
   display: flex;
     flex-direction: column;
   color: black;                
    margin-top: 70px;
    border-radius: 75px;
   align-items: flex-start;

   }

.h1_mision{
  margin-left: 40px;

 }

 .p_text{
 margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 40px;
  font-size: 19px;
  font-family: sans-serif;
  color: black;

 }


.image-banner-beggin-vision{
   background-image: url('/home/planton/Project/Images/vision.png');
   background-size: cover;
   background-position: center;
   margin: 0 auto;
   height: 380px;
   width: 70%;
   display: flex;
     flex-direction: column;
   color: black;                
    margin-top: 70px;
    border-radius: 75px;
   align-items: flex-end;

   }

   .h1_vision{
  margin-right: 180px;

 }
 .bienvenida{
margin-top: 60px;
margin-left: 40px;

 }